name: 精准包名替换构建版
on: workflow_dispatch
jobs:
  build-release-apk:
    runs-on: ubuntu-latest
    steps:
      - name: 拉取代码
        uses: actions/checkout@v4
        with:
          repository: 692873036/HMA-OSS
          ref: master

      - name: 配置JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: 生成local.properties
        run: echo "sdk.dir=/usr/local/lib/android/sdk" > local.properties

      - name: 精准替换包名与应用名称
        run: |
          # 1. 替换根目录appPackageName
          sed -i 's/val appPackageName by extra("org.frknkrc44.hma_oss")/val appPackageName by extra("com.shipook.reader.mfxsdq")/' build.gradle.kts
          
          # 2. 替换app模块的namespace
          sed -i 's/namespace = appPackageName/namespace = "com.shipook.reader.mfxsdq"/' app/build.gradle.kts
          
          # 3. 替换common模块的namespace
          sed -i 's/namespace = "icu.nullptr.hidemyapplist"/namespace = "com.shipook.reader.mfxsdq"/' common/build.gradle.kts
          
          # 4. 替换应用名称
          sed -i 's/<string name="app_name" translatable="false">HMA-OSS<\/string>/<string name="app_name" translatable="false">听书神器<\/string>/' app/src/main/res/values/strings.xml

      - name: 构建APK
        run: |
          chmod +x ./gradlew
          ./gradlew assembleRelease --no-daemon

      - name: 上传产物
        uses: actions/upload-artifact@v4
        with:
          name: hma-modified
          path: app/build/outputs/apk/release/*.apk
