name: 基于预配置Android环境构建未签名APK
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/cirruslabs/android-sdk:34
      options: --user root

    steps:
      - name: 拉取项目代码
        uses: actions/checkout@v4

      - name: 安装Git并配置
        run: |
          # 安装Git工具
          apt-get update && apt-get install -y git
          # 配置Git用户信息（避免操作时的权限提示）
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"

      - name: 生成local.properties文件
        run: |
          echo "sdk.dir=/opt/android-sdk" > local.properties

      - name: 同步build.gradle的applicationId
        run: |
          TARGET_PACKAGE=$(grep -m1 'package="' app/src/main/AndroidManifest.xml | sed 's/.*package="\([^"]*\)".*/\1/')
          find . -name "build.gradle" -o -name "build.gradle.kts" | xargs sed -i "s/applicationId \".*\"/applicationId \"$TARGET_PACKAGE\"/g"

      - name: 构建未签名APK
        run: |
          chmod +x ./gradlew
          ./gradlew assembleRelease -Pandroid.injected.signing.store.file=null \
                                    -Pandroid.injected.signing.store.password=null \
                                    -Pandroid.injected.signing.key.alias=null \
                                    -Pandroid.injected.signing.key.password=null

      - name: 上传未签名APK
        uses: actions/upload-artifact@v4
        with:
          name: shipook-reader-unsigned-apk
          path: app/build/outputs/apk/release/app-release-unsigned.apk
          retention-days: 90
