name: Main（手动构建-未签名）

on:
  workflow_dispatch:
    inputs:
      buildType:
        description: '构建类型（release/debug/all）'
        required: true
        default: 'all'
        type: choice
        options:
          - all
          - release
          - debug

jobs:
  build:
    name: Build ${{ github.event.inputs.buildType }} on ubuntu-latest
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          submodules: 'recursive'
          fetch-depth: 0

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: jetbrains
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3
        with:
          packages: ''

      - name: 创建local.properties文件
        run: touch ${GITHUB_WORKSPACE}/local.properties

      - name: 构建未签名APK
        id: buildAll
        run: |
          if [ "${{ github.event.inputs.buildType }}" = "release" ]; then
            ./gradlew assembleRelease
            echo "outputPath=app/build/outputs/apk/release/*.apk" >> $GITHUB_OUTPUT
          elif [ "${{ github.event.inputs.buildType }}" = "debug" ]; then
            ./gradlew assembleDebug
            echo "outputPath=app/build/outputs/apk/debug/*.apk" >> $GITHUB_OUTPUT
          else
            ./gradlew assemble
            echo "outputPath=app/build/outputs/apk/*/*.apk" >> $GITHUB_OUTPUT
          fi

      - name: 上传未签名APK
        uses: actions/upload-artifact@v5
        with:
          name: APK-${{ github.event.inputs.buildType }}-Unsigned
          path: ${{ steps.buildAll.outputs.outputPath }}
